@using denemeewebui.Models 
@using denemeewebui.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Person


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
  

<form method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" value="@Model.Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label for="LastName">LastName</label>
        <input asp-for="LastName" value="@Model.LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger" ></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>